<h1>Welcome to Title Case</h>
  <form action="/word">
    <div class="form-group">
      <label for="word">What word would you like scored</label>
      <input id="word" name="word" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
